li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1.5rem;   
    background-color: #000;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color:#fff;
}
.nav-menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item1{
    margin-left: 5rem;
    
}
.nav-link1{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}
.nav-link1:hover{
    color:#482ff7;
}
.nav-logo1{
    font-size: 2.1rem;
    font-weight: 500;
    color: #fff;
}
@media (max-width: 900px){
    .nav-menu1{
        position: fixed;
        left: -100%;
        top: 4.2rem;
        flex-direction: column;
        background-color: #000;
        width: 100%;
        z-index: 1;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0,0,0,0.05);
    }
    .nav-menu1.active{
        left: 0;
    }
    .nav-item1{
        margin: 2.5rem 0;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}