.slider{
    width: 100%;
    display: block;
    margin: auto;
}
.slick-slide img {
    display: block;
    margin: auto;
    height: 694px;
    width: 100%;
}

.slick-prev{
    z-index: 1;
    margin-left: 40px;
}
.slick-next{
    margin-right: 60px;
}
.slick-prev:before, .slick-next:before{
    color: rgb(172, 151, 151);
    font-size: 30px;
}
.slick-dots li button:before{
    font-size: 12px;
}

@media (max-width: 900px){
    .slick-slide img{
        height: 600px;
    }
}
@media (max-width: 600px){
    .slick-slide img{
        height: 500px;
    }
}
@media (max-width: 550px){
    .slick-slide img{
        height: 400px;
    }
}
@media (max-width: 400px){
    .slick-slide img{
        height: 300px;
    }
}